[submodule "zsh"]
	path = zsh
	url = git@github.com:tr1v3r/.zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:tr1v3r/nvim.git
[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
	update = none
[submodule "ranger/plugins/ranger-gpg"]
	path = ranger/plugins/ranger-gpg
	url = https://gitlab.com/Ragnyll/ranger-gpg.git
	update = none
[submodule "firefox"]
	path = firefox
	url = git@github.com:tr1v3r/Firefox-UI-Fix.git
	branch = custom
[submodule "ai/llm-wiki"]
	path = ai/llm-wiki
	url = https://gist.github.com/396fcb101232c68ff40322efebb56a64.git
