[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "ranger/plugins/ranger-gpg"]
	path = ranger/plugins/ranger-gpg
	url = https://gitlab.com/Ragnyll/ranger-gpg.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:tr1v3r/.zsh.git
[submodule "iterm2"]
	path = iterm2
	url = git@github.com:tr1v3r/.iterm2.git
[submodule "karabiner"]
	path = karabiner
	url = git@github.com:tr1v3r/.karabiner.git
