# ignore all files and folders
*

# do not ignore .gitignore
!.gitignore
!.gitmodules
!README.md

# do not ignore all directories
!**/

# do not ignore specified directories
!bashtop/**
!cargo/**
!conda/**
!gpg/**
!kitty/**
!lazygit/**
!neofetch/**
!ranger/**
!raycast/diy_plugins/**
!raycast/scripts/**
!scripts/**
!snipaste/**
!ssh/**
!starship.toml
!tmux-powerline/**
!tmux/**
!yazi/**

# git submodules directories
!iterm/**
# !karabiner/**
!nvim/**
!zsh/**
!deploy/**

# do not ignore picom.conf
!picom.conf

# python
*.pyc
*.pyo
.mypy_cache/
__pycache__

# ranger
# ranger/plugins/__init__.py

# log
*.log

# lazygit
lazygit/state.yml

yarn/
coc/
